.icon {
  height: 32px;
  cursor: pointer;
}
#btnTop {
  transform: rotate(270deg);
}
#btnLeft {
  transform: rotate(180deg);
}
#btnRight {
  transform: rotate(0deg);
}
#btnBottom {
  transform: rotate(90deg);
}
.damaKahla {
  background-color: brown;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}
.damaBayta {
  background-color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}
.pion {
  width: 46px;
  
}
